main {
    margin-top: 0px;
  }

  #content {
    display: none;
  }

  form {
    padding-top: 100px;
    width: 400px;
    margin-bottom: 10px;
    margin-left: 205px;
    float: center;
  }

  ul {
    margin-bottom: 0px;
  }

  #completedTaskList .content {
    color: grey;
    text-decoration: line-through;

  }

  #doneTasks {
    width: 300px;
    float: left;
    background: skyblue;
    height: 150px;
    margin: 50px;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    color: white;
    box-shadow: 20px 20px rgba(0, 0, 0, .15);
    transition: all .4s ease;
    text-align: center;
  }

  #undoneTasks {
    width: 300px;
    height: 150px;
    float: right;
    background: grey;
    margin: 50px;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    color: white;
    box-shadow: 20px 20px rgba(0, 0, 0, .15);
    transition: all .4s ease;
    text-align: center;
  }

  #undoneTasks:hover {
    border-radius: 0% 0% 50% 0% / 0% 0% 0% 0%;
    box-shadow: 10px 10px rgba(0, 0, 0, .25);
  }
  #doneTasks:hover {
    border-radius: 0% 0% 50% 0% / 0% 0% 0% 0%;
    box-shadow: 10px 10px rgba(0, 0, 0, .25);
  }